a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}
a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}